body {
	font-family: Helvetica;
	width:960px;
	margin-left:20px;
	font-size:1em;
}
div{
	padding: 10px 0 10px 0;
}
p{
	margin: 0px;
}
.clear{
	
	/*height: 200px;*/
	border-top: solid 1px black;
	position: relative;
}
#content{
	clear:both;
}
section{
	width: 400px;
}
#controls{
	float:right;
	position:fixed;
	top:10px;
	right:10px;
}
a{
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
ul{
	list-style-type: none;
	margin: 0px;
}
.moreInfo{
	width: 300px;
	padding: 5px;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	margin-top: -1px;
}
footer{
	height: 200px;
}