#square{
	border:#000000 1px solid;
	width: 200px;
	height: 200px;
	position: relative;
}
h1{
	color:#5ce638;
}
body{
	background-color: #606060;
	color:#b9bdb6;
	font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	
}
h3{
	color:#5ba1cf;
}
